/* CSS DOCUMENT */
@charset "UTF-8";

.bg-lineargradient-sky {
  background: linear-gradient(to bottom, white 40%, lightskyblue 100%) no-repeat center center fixed !important;
  background-size: cover !important;
}

.bg-navy {
  background-color: navy !important;
}

.bg-aliceblue {
  background-color: aliceblue !important;
}

.bg-turquoise {
  background-color: turquoise !important;
}

.text-navy {
  color: navy !important;
}

.border-turquoise {
  border-color: turquoise !important;
}

.btn-navy {
  color: #fff !important;
  background-color: navy !important;
  border: 2px solid turquoise !important;
}

/*
.nav-tabs-turquoise {
  border-bottom: 1px solid turquoise;
}
*/
.opacity-100 {
  opacity: 1 !important;
}

.w-10 {
  width: 10% !important;
}

.w-40 {
  width: 40% !important;
}

.nav-tabs-turquoise .nav-link {
  color: navy !important;
  background-color: white !important;
  border: 1px solid paleturquoise !important;
}

.btn-navy:hover {
  color: white !important;
  background-color: blue !important;
  border: 2px outset cyan !important;
  box-shadow: 0px 0px 3px 4px rgba(8, 8, 8, 0.3) !important;
}

.btn-navy:focus {
  background-color: #000040 !important;
  border: 2px inset darkturquoise !important;
  box-shadow: 0px 0px 3px 4px rgba(3, 3, 3, 0.5) !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: turquoise !important;
}

.navbar-nav .nav-item .nav-link:active {
  color: darkturquoise !important;
}

.navbar-nav .nav-item .nav-link:focus {
  color: darkturquoise !important;
}

.nav-tabs-turquoise .nav-link.active {
  color: navy !important;
  background-color: aliceblue !important;
  border: 1px solid turquoise !important;
  border-bottom: 1px solid aliceblue !important;
}

.nav-tabs-turquoise .nav-link.focus {
  color: navy !important;
  background-color: aliceblue !important;
  border: 1px solid turquoise !important;
  border-bottom: 1px solid aliceblue !important;
}
